rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Deny all read and write access by default
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userID}
    {
      allow read: if true;
      allow write, update: if request.auth != null && request.auth.uid == userID;
    }

    // Allow only the Cloud Function to write to the 'users/allusers' document
    match /users/allusers {
      allow read: if true;
      allow write: if request.auth.token.admin == true;
    }

    match /users/stores {
      allow read: if true;
      allow write: if request.auth.token.admin == true;
    }

    match /products/{productId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update, delete: if resource.data.userId == request.auth.uid;
    }

    // Allow read access to the categories collection
    match /categories/{categoryID} {
      allow read: if true;
    }
  }
}
