@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
}

.prodBox {
  width: 350px;
  background-color: #4dc752;
  margin: 30px auto;
  display: block;
  border-radius: 3px;

}
.prEdit{
  text-align: right;
  padding: 0 10px 10px;
}

.prodBox img{
  width: 70%;
  margin: 20px auto 0;
  display: block;
}

.prodBox h2{
  margin: 0;
  text-align: center;
}

.prodBox .text{
  margin: 10px;
}

#site {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: Jost, Geneva;
}

.navbar {
  display: flex;
  background-color: rgb(0, 181, 33);
  padding: 0 20px;
  justify-content: right;
}

.navbar a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  /* Required for absolute positioning of submenu */
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus,
.navbar a.active {
  background-color: rgba(0, 255, 47, 0.612);
}

.has-submenu:hover .submenu {
  opacity: 1;
  pointer-events: auto;
}

.error {
  color: rgb(255, 0, 0);
}

.has-submenu {
  position: relative;
}

/* Hide submenu by default */
.submenu {
  max-height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(0, 181, 33);
  border: 0;
  /* Change as needed */
  padding: 0;
  z-index: 1;
  list-style: none;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  /* Transition height */
  width: 100%;
  text-align: center;
}

.submenu li a {
  display: block;
}

/* Show submenu on hover */
.has-submenu:hover .submenu {
  max-height: 200px;

}

.seller {
  background-color: rgba(0, 181, 33, 0.5);
  padding: 1px 15px;
  margin: 10px 0;
}

.seller button {
  margin-bottom: 15px;
}

footer {
  min-height: 50px;
  background: rgba(0, 181, 33, 0.726);
  text-align: center;
}

footer p {
  padding: 15px;
}

.article {
  flex: 1;
  margin: auto;
  width: 400px;
}

.middle {
  text-align: center;
}

.middle input {
  padding: 5px;
  margin: 10px;
}

#mainProductDiv {
  padding: 15px;
  background-color: #afefb2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.text{
  padding: 20px;
}